.buttonStyleInfo {
    background-color: #039be5;
    padding: 8px 15px;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    font-size: 15px;
}

.buttonStyleInfo:disabled{
 background-color: gray;
 padding: 8px 15px;
 color: white;
 border: 1px solid white;
 border-radius: 3px;
 font-size: 15px;
 opacity: 0.65;
 cursor: not-allowed;
}

.buttonStyleDanger {
    background-color: #cc3b47;
    padding: 8px 15px;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    font-size: 15px;
}

.buttonStyleDanger:disabled{
 background-color: gray;
 padding: 8px 15px;
 color: white;
 border: 1px solid white;
 border-radius: 3px;
 font-size: 15px;
 opacity: 0.65;
 cursor: not-allowed;
}

.buttonStyleSuccess {
    background-color: #5cb85c;
    padding: 8px 15px;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    font-size: 15px;
    cursor: pointer;
}

.buttonStyleSuccess:disabled{
 background-color: gray;
 padding: 8px 15px;
 color: white;
 border: 1px solid white;
 border-radius: 3px;
 font-size: 15px;
 opacity: 0.65;
 cursor: not-allowed;
}

.buttonStyleInfo,
.buttonStyleDanger:hover {
    cursor: pointer
}
