.inputStyle {
    padding: 10px 10px 10px 5px;
    width: 400px;
    outline: none;
    border: 1px solid #bbb;
    border-radius: 3px;
    display: inline-block;
    font-size: 15px;
}

.inputStyle:focus {
    outline: none;
}