body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container {
  display: flex;
  margin: 0 30px;
  padding: 40px 60px;
  border-bottom: 1px solid #ccc;
}

img {
  width: 100px;
}

#app {
  margin: 0 30px;
  padding: 40px 60px;
}
